# Data Sceince Ecosystem

**Exercise - 3**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* List of commonly used Data Science tools.

**Exercise -4**

Some of the popular languages that Data Scientists use are:
1. Python
2. Java 
3. SQL 
4. Scala

**Exercise - 5**

Some of the commonly used libraries used by Data Scientists include:
1. Tensor Flow 
2. Pandas
3. NumPy
4. Matplotlib
5. Keras

**Exercise- 6**

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

**Exercise-7**

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Addition of two integres:
a = 5
b = 6
print(a+b)

11

In [6]:
# Subtraction of two integers:
c = 20
d = 1
print(c-d)

19

In [7]:
# Multiplication and Division of two integers:
x = 20
y = 10
x1 = x*y
y1 = x/y
print(x1)
print(y1)

200
2.0

**Exercise - 8**

In [9]:
# This a simple arithmetic expression to mutiply then add integers:
w = (3*4)+5
print(w)

17

**Exercise-9**

In [12]:
time = 200
# This will convert 200 minutes to hours by diving by 60
hours = time/60
print(str(hours) + " hours")
# Result: 3.3333333333333335 hours

3.3333333333333335 hours

**Exercise-11**

## Author
Anshaj Shukla